
/* * {
    box-sizing: border-box;
} */

html, body {
    
    display: flex;

}

/* body > * {
    border: 1px solid #000;
} */

@media (max-width:960px) {
    main {
        display: flex;
        flex-direction: row;
       flex-wrap: wrap;
    }
       
   }
   
   
   
   
   @media (max-width:767px){
       main {
           display: flex;
           flex-direction: row;
          flex-wrap: wrap;
       }
       
   }


