@media (max-width:960px) {
    div {
       display: flex;
       flex-direction: row;
      flex-wrap: wrap;
   }
    
    .first{
        width:760px ;
    
    
   }
   .final {
       width:960px ;
   }
   
    .sec{
   width: 760px;
    }
      
   
    main > aside {
        /* order: 2; */
       background: cadetblue;
       height:600px ;
       width: 200px;
       display: flex;
       line-height: 70px;
       text-align: center;
       justify-content: space-evenly;
       flex-direction: column;
         
   }
   
   
   div > #c {
       width: 380px;
       height: 200px;
       background: rgb(226, 176, 214);
       /* order: 3; */
       display: flex;
       line-height: 70px;
       text-align: center;
       justify-content: space-evenly;
       flex-direction: column;
       
   
   }
   div > #d {
       width: 380px;
       height: 200px;
       background: rgb(139, 219, 175);
       /* order: 3; */
       display: flex;
       line-height: 70px;
       text-align: center;
       justify-content: space-evenly;
       flex-direction: column;
   }
   div > #e{
       width: 190px;
       height: 250px;
      background: rgb(152, 130, 179);
      line-height: 70px;
      text-align: center;
      justify-content: space-evenly;
      flex-direction: column;
   }
   div > #f {
       width: 190px;
       height: 250px;
      background: rgb(233, 240, 175);
      line-height: 70px;
      text-align: center;
      justify-content: space-evenly;
      flex-direction: column;
   
   }
   div > #g {
       width: 190px;
       height: 250px;
      background: coral;
      line-height: 70px;
      text-align: center;
      justify-content: space-evenly;
      flex-direction: column;
   }
   div > #h {
       width: 190px;
       height: 250px;
      background: rgb(216, 116, 136);
      line-height: 70px;
      text-align: center;
      justify-content: space-evenly;
      flex-direction: column;
   }
   
       
   }
   

   @media (max-width:767px){
    
       div {
          display: flex;
          flex-direction: row;
         flex-wrap: wrap;
      }
       
       .first{
           width:480px ;
       
       
      }
      .final {
          width:480px ;
      }
      
       .sec{
      width: 480px;
       }

       main > aside {
           /* order: 2; */
          background: cadetblue;
          height:150px ;
          width: 480px;
          display: flex;
          line-height: 70px;
          text-align: center;
          justify-content: space-evenly;
          flex-direction: column;    
      }
      
      div > #c {
          width: 480px;
          height: 125px;
          background: rgb(226, 176, 214);
          /* order: 3; */
          display: flex;
          line-height: 70px;
          text-align: center;
          justify-content: space-evenly;
          flex-direction: column;
          
      
      }
      div > #d {
          width: 480px;
          height: 125px;
          background: rgb(139, 219, 175);
          /* order: 3; */
          display: flex;
          line-height: 70px;
          text-align: center;
          justify-content: space-evenly;
          flex-direction: column;
      }
      div > #e{
          width: 240px;
          height: 250px;
         background: rgb(152, 130, 179);
         line-height: 70px;
         text-align: center;
         justify-content: space-evenly;
         flex-direction: column;
      }
      div > #f {
          width: 240px;
          height: 250px;
         background: rgb(233, 240, 175);
         line-height: 70px;
         text-align: center;
         justify-content: space-evenly;
         flex-direction: column;
      
      }
      div > #g {
          width: 240px;
          height: 250px;
         background: coral;
         line-height: 70px;
         text-align: center;
         justify-content: space-evenly;
         flex-direction: column;
      }
      div > #h {
          width: 240px;
          height: 250px;
         background: rgb(216, 116, 136);
         line-height: 70px;
         text-align: center;
         justify-content: space-evenly;
         flex-direction: column;
      }
     
   }