@media all  and (min-width :768px) and (max-width:960px)
{
    header {
    
        background-color: aquamarine;
        
    }
    aside {
       
        background-color: cadetblue;
    
    }
   footer {

        background-color: rgb(14, 133, 113);
      
    }

    
    #c {
        
        background-color: lawngreen;
 
    }

     #d {
        
        background-color: rgb(147, 134, 223);

    } 
   

    #e{
        background-color: rgb(47, 39, 88);
    }

    #f {
        background-color: rgb(66, 173, 62);
    }

    #g {
        background-color: coral;
    }

    #h {   
        background-color: crimson;
    }
}

@media all  and (min-width :480px) and (max-width:767px)
{
    header {
       
        background-color: rgb(231, 58, 202);
       
    }
    aside {
       
        background-color: hotpink;
        
    }

    footer {
        
        background-color: rgb(14, 133, 113);
       
    }

    #c {
        
        background-color:fuchsia;
    
    }
    #d {

        background-color: rgb(54, 33, 175);

    } 

    #e{

        background-color: rgb(29, 208, 253);

    }
    #f {
       
        background-color: rgb(18, 189, 12);

    }
    #g {
        
        background-color: rgb(131, 58, 32);
    }
    #h {
        
        background-color: rgb(59, 4, 15);
    }

  
}