@media all  and (min-width :768px) and (max-width:960px)
{
     #a{
        height:100px ;
        width: 100%;
        background-color: aquamarine;
        text-align: center;
    }
    #b {
        height:600px ;
        width:20.83333333%;
        background-color: cadetblue;
        text-align: center;
        float: left;
    }
    #c {
        width: 39.58333333%;
        height: 200px;
        background-color: lawngreen;
        text-align: center;
        float: left;
        
       
       
    }
     #d {
        width: 39.58333333%;
        height: 200px;
        background-color: rgb(147, 134, 223);
        text-align: center;
       float: right;
       
    } 
    /* #e , #f , #g , #h {
        width: 19.79166667%;
        height: 200px;
        text-align: center;
       float: left;
    } */

    #e{
        width: 19.79166667%;
        height: 250px;
        text-align: center;
       float: left;
        background-color: rgb(47, 39, 88);

    }
    #f {
        width: 19.79166667%;
        height: 250px;
        text-align: center;
       float: left;
        background-color: rgb(66, 173, 62);

    }
    #g {
        width: 19.79166667%;
        height: 250px;
        text-align: center;
       float: left;
        background-color: coral;
    }
    #h {
        width: 19.79166667%;
        height: 250px;
        text-align: center;
       float: left;
        background-color: crimson;
    }
    #i {
        width: 79.16666667%;
        height: 150px;
        text-align: center;
        background-color: rgb(14, 133, 113);
       float: right;
        
    }
}

@media all  and (min-width :480px) and (max-width:767px)
{
    #a {
        height:75px ;
        width: 100% ;
        background-color: black;
        text-align: center;
    }
    #b {
        height:150px ;
        width: 100% ;
        background-color: hotpink;
        text-align: center;
    }
    #c {
        width: 100%;
        height: 125px;
        background-color:fuchsia;
        text-align: center;
        float: left;
    }
    #d {
        width: 100%;
        height: 125px;
        background-color: rgb(54, 33, 175);
        text-align: center;
       float: right;
       
    } 

    /* #e , #f , #g , #h {
        width: 50%;
        height: 250px;
        text-align: center;
       float: left;
    } */

    #e{
        width: 50%;
        height: 250px;
        text-align: center;
       float: left;
        background-color: rgb(29, 208, 253);

    }
    #f {
        width: 50%;
        height: 250px;
        text-align: center;
       float: left;
        background-color: rgb(18, 189, 12);

    }
    #g {
        width: 50%;
        height: 250px;
        text-align: center;
       float: left;
        background-color: rgb(131, 58, 32);
    }
    #h {
        width: 50%;
        height: 250px;
        text-align: center;
       float: left;
        background-color: rgb(59, 4, 15);
    }

    #i {
        width: 100%;
        height: 80px;
        text-align: center;
        background-color: rgb(14, 133, 113);
        clear: both;
    }
}